* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color:$bgColor ;
    min-height: 100vh;
}
.body-style {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
} 

h1 {
    font-size: $fontSize7;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: $fontWeight3;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $fontsColor;
    border: solid 3px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    padding: 20px;
    grid-area: h1text;
}

p {
    color: $fontColorp;
    font-weight: $fontWeight1;
    font-size: $fontSize2;
    line-height: $lineHeight1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-area: ptext;
}
header {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;

    img {
        width: 50%;
        margin: 0%;
        padding: 0%;
    }
    .img-header {
        display: flex;
        height: 100%;
        width: 100%;
        grid-area: img-header;
        position: relative;
    }

    div{
        button{
            font-size: $fontSize4;
            background-image: linear-gradient(to right, #434343 0%, black 100%);
            color: $whiteColor;
            border: none;
            padding: 2px;
        }
        .button-men {
            position: absolute;
            margin-top: 30%;
            margin-left: 23%;
            text-align: center;
            border: solid 1px;
            border-color: $fontsColor; 
            &:hover{
                transform: scaleX(1.4);
                transform: scaleY(1.2);
                transition: all 2s;
            }
        }
        
        .button-woman {
            position: absolute;
            margin-top: 30%;
            margin-left: 74%;
            text-align: center;
            border: solid 1px;
            border-color: $fontsColor;
            &:hover{
                transform: scaleX(1.4);
                transform: scaleY(1.2);
                transition: all 2s;
            }
        }
    }

}

.error-404{
    background-color: $errorColor;
    margin: 1%;
    width: 100%;
        h1{
            color: $errorColorh1;
            border: none;
            background-image: none;
            font-size: $fontSize8;
        }
        img{
            width: 20%;
            margin-left: 40%;
        }
        h2{
            width: 80%;
            margin-left: 10%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: $colorContacto;
            font-weight: $fontWeight3;
            text-align: center;
        }
        h3{
            width:70%;
            margin-left: 16%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: $fontWeight3;
            text-align: center;
        }
        div{
            ul{
                display: flex;
                justify-content: center;
                li{
                    list-style: none;
                    flex-direction: row;
                    a{
                        text-decoration: underline;
                        padding: 5px;
                    }
                }
            }
            

        }


}

.title-ayuda {
    font-size: $fontSize7;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: $fontWeight3;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid 3px;
    border-color: $mainColor;
    padding: 5px;
}
.text-nosotros{
    margin-top: 15%;
    font-size: $fontSize5;
}

.text-talle-h {
    font-size: $fontSize4;
    font-weight: $fontWeight3;
    color: $mainColor;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid 3px;
    border-color: $mainColor;
    padding: 5px;
}

.text-talle-m {
    font-size: $fontSize4;
    font-weight: $fontWeight3;
    color: $mainColor;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid 3px;
    border-color: $mainColor;
    padding: 5px;
}


.article-ayuda {
    margin-top: 50px;

}

.img-talle1 {
    margin-left: 18%;
}

.img-talle2 {
    margin-left: 18%;
    margin-top: 1%;
}

.img-footer {
    margin-left: 10%;
}
