
.catalogo-text1 {
    color: $fontsColor;
    font-weight: $fontWeight2;
    border: solid 1px;
    font-size: $fontSize3;
    padding: 0.3%;
    margin: 0%;
}

.catalogo-text2 {
    color: $fontsColor;
    padding: 0%;
    margin: 2%;
}

.card{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    &:hover{
        transform: scaleX(1.06);
        transform: scaleY(1.04);
        transition: all 2s;
    }
}