
.catalogo-text1 {
    color: black;
    font-weight: 600;
    border: solid 1px;
    font-size: 1.3em;
    padding: 0.3%;
    margin: 0%;
}

.catalogo-text2 {
    color: rgba(34, 33, 33, 0.842);
    padding: 0%;
    margin: 2%;
}