
.catalogo-text1 {
    color: $fontsColor;
    font-weight: $fontWeight2;
    border: solid 1px;
    font-size: $fontSize3;
    padding: 0.3%;
    margin: 0%;
}

.catalogo-text2 {
    color: $fontsColor;
    padding: 0%;
    margin: 2%;
}

.card{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.paginacion{
    margin: 20px 0;
    ul{
        list-style: none;
        text-align: center;
        li{
            display: inline-block;
            margin-right: 10px;
            a{
                display: block;
                padding: 5px 10px;
                color: $mainColor;
                text-decoration: none;
                color: $fontsColor;
                background: linear-gradient(to right, #434343 0%, black 100%);
            }
        }
    }
}